/* src/styles.css - Estilos globales */
:root {
  --primary: #000000;
  --secondary: #FFFFFF;
  --accent: #FF5E5B;
  --shadow: 8px 8px 0px var(--primary);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', monospace;
}

body {
  background-color: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}